*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$font-primary: sans-serif;


body{
    color: #555;
    background: #99f;
}


h1{
    font-family: $font-primary;
    text-align: center;
}

p{
    font-family: $font-primary;
    color: #fff;
}

#service{
    display: flex;
    margin: 20px;
}

// 15 minutes